body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}

	#box1{width:750px;height:400px;position:relative; margin:100px auto;border: 1px solid black;}
	#img1{width:300px;height:300px;position:absolute;left:0;top:0;}
	#slider{width:150px;height:150px;position:absolute;left:0;top:0;background:#CCC;opacity:0.4;cursor: move;display:none; filter:alpha(opacity=40);}
	#img2{position:absolute;right:0;top:0;display:none; width:400px;height:400px;overflow:hidden;}
	#Bimg{position:absolute;left:0;top:0;}